<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alanwang.aav.alvideoeditor">

    <application>

        <activity
            android:name=".preview.AAVVideoPreviewActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>

