<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alanwang.aav.alvideoeditor">

    <application>

        <activity
            android:name=".preview.AWCameraRecordActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".preview.AWVideoPreviewActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>

