<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alanwang.aav.alvideoeditor">

    <application>

        <activity
            android:name=".business.record.CameraRecordActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".business.preview.AWVideoPreviewActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>

